<div class="margin">
    <div class="text-preview">Przejdź do:</div>
    <div style="display: flex; flex-direction: row; justify-content: center; gap: 2vw; margin-top: 4rem">
        <div class="preview" routerLink="/firestations">
            <div style="display: flex; flex-direction: column; justify-content: center">
                <div style="flex: 1 1 0; display: flex; justify-content: center">
                    <mat-icon class="icon-preview">local_fire_department</mat-icon>
                </div>
                <div class="text-preview">Jednostki straży pożarnej</div>
            </div>

        </div>
        <div class="preview" routerLink="/account-settings">
            <div style="display: flex; flex-direction: column; justify-content: center">
                <div>
                    <mat-icon class="icon-preview">person</mat-icon>
                </div>
                <div class="text-preview">Ustawienia konta</div>
            </div>

        </div>
    </div>
</div>