<div class="margin">
    <button mat-stroked-button routerLink="/firestations" color="{{'warn'}}">{{'Zarządzaj stacjami'}}</button>
    <button mat-stroked-button routerLink="/vehicles" color="{{'warn'}}">{{'Zarządzaj pojazdami'}}</button>
    <button mat-stroked-button routerLink="/courses" color="{{'warn'}}">{{'Zarządzaj kursami'}}</button>
    <button mat-stroked-button routerLink="/firemen" color="{{'warn'}}">{{'Zarządzaj strażakami'}}</button>
    <button mat-stroked-button routerLink="/members" color="{{'warn'}}">{{'Zarządzaj użytkownikami'}}</button>
</div>