<div style="display: flex; justify-content: center; margin-top: 10vh">
  <div class="container">

    <h2>Logowanie</h2>

    <div class="inputs-container">
      <mat-form-field class="width-input" appearance="standard">
        <mat-label>Adres email</mat-label>
        <input type="email" matInput [(ngModel)]="account.email" placeholder="np. sth@example.com">
        <mat-error *ngIf="false">
          Nieprawidłowy format
        </mat-error>
        <mat-error *ngIf="false">
          Adres email jest <strong>wymagany</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="width-input" appearance="standard">
        <mat-label>Hasło</mat-label>
        <input type="email" matInput [(ngModel)]="account.password" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="false">
          Nieprawidłowy format
        </mat-error>
        <mat-error *ngIf="false">
          Adres email jest <strong>wymagany</strong>
        </mat-error>
      </mat-form-field>

      <div style="display: flex; gap: 16px; margin-top: 32px;">
        <button routerLink="/register" mat-stroked-button color="primary">Przejdź do rejestracji</button>
        <button (click)="login()" mat-stroked-button color="accent">Zaloguj się</button>
      </div>

    </div>
  </div>
</div>
